

{% extends 'base.html.twig' %}



{% block body %}
    <main id="main" class="main">

        <h1 style="color: #0a53be" >Liste des Reponses</h1>
        <section class="section">

            <div class="row">
                <div class="col-lg-12">

                    <div class="card">

                        <div class="card-body">
                            <br>
                            <table class="table datatable dataTable-table" >

                                <thead>
                                <tr>

                                    <th scope="col" data-sortable="" style="width: 10%;">
                                    <a href="#" class="dataTable-sorter"><h4 style="color: #0a53be;font-weight: bolder">Client</h4></a>
                                    </th>
                                    <th scope="col" data-sortable="" style="">
                                        <a href="#" class="dataTable-sorter"><h4 style="color: #0a53be;font-weight: bolder">Avis</h4></a>
                                    </th>
                                    <th scope="col" data-sortable="" style="width: 28%;">
                                    <a href="#" class="dataTable-sorter"><h4 style="color: #0a53be;font-weight: bolder">Reponse</h4></a>
                                    </th>
                                    <th scope="col" data-sortable="" style="width: 10%;">
                                        <a href="#" class="dataTable-sorter"><h4 style="color: #0a53be;font-weight: bolder">Date</h4></a>
                                    </th>

                                    <th style="width: 5%;border-left: solid 1px lightgray;border-right: solid 1px lightgray">
                                        <a href="#"><h4 style="color: #0a53be;font-weight: bolder">Traiter</h4></a>
                                    </th>
                                    <th style="width: 5%;border-right: solid 1px lightgray">
                                        <a href="#"><h4 style="color: #0a53be;font-weight: bolder;">Supp</h4></a>
                                    </th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for repavi in repavis %}
                                    <tr>
{#                                        {% if repavi.etat == 'en cours de traitement' %}#}
{#                                            <td>En cours</td>#}
{#                                       {% else %}#}
{#                                           <td>{{ repavi.etat }}</td>#}
{#                                        {% endif %}#}
                                        <td> {{ repavi.idavis.numeroutilisateur.nomclient }}  </td>
                                        <td>{{ repavi.idavis }}</td>
                                        <td>{{ repavi.reponse }}</td>
                                        <td>{{ repavi.dateajout ? repavi.dateajout|date('Y-m-d') : '' }}</td>


                                            {% if repavi.etat == 'en cours de traitement' %}
                                        <td style="text-align: right;border-left: solid 1px lightgray;border-right: solid 1px lightgray" >


                                        <button style="color:green;border-color: white;background-color: white" class="btn btn-primary">
                                                    <a style="background-color: #0a53be;border-color: white" class="btn btn-primary" href="{{ path('app_repavis_edit2', {'idrep': repavi.idrep}) }}">
                                                        <i class="bx bx-x"> </i>
                                                    </a></button>
                                        </td>

                                            {% else %}
                                        <td style="text-align: right;border-left: solid 1px lightgray ;border-right: solid 1px lightgray" >
                                                <button style="color:#0c5460;border-color: white;background-color: white" class="btn btn-primary">
                                                    <a class="btn btn-primary" style="background-color: #1e7e34;border-color: white;">
                                                        <i class="bx bx-check"> </i>
                                                    </a></button>
                                        </td>
                                            {% endif %}



                                        <td style="text-align: right;border-right: solid 1px lightgray">

                                            {% include 'repavis/_delete_form.html.twig' %}
                                     </td>



                                    </tr>

                                {% else %}
                                    <tr>
                                        <td colspan="3">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <br>
                            <button style="background-color: initial;font-weight: bolder;color: #0a58ca" class="btn btn-primary"> <a href="{{ path('app_repavis_new') }}">Ajouter une Reponse</a> </button>

                        </div></div>
                </div></div>
    </section>

    </main><!-- End #main -->

{% endblock %}
