{% extends 'base.html.twig' %}
{% block sidebar %}
{% endblock %}
{% block header %}
{% endblock %}
{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
  {#   <h1>Reset your password</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Enter your email address and we will send you a
                link to reset your password.
            </small>
        </div>

        <button class="btn btn-primary">Send password reset email</button>
    {{ form_end(requestForm) }}
    //////////////////////////////////////////
  #}
    <div>
        <h1 style="visibility: hidden">ooooooooooooooooooooooooooooooooob<br></h1>
        <h1 style="visibility: hidden">ooooooooooooooooooooooooooooooooob<br></h1>

        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                <div class="d-flex justify-content-center py-4">
                    {#   <a href="index.html" class="logo d-flex align-items-center w-auto">
                <img src="{{ asset('assets/img/logo.png') }}" alt="">
                <span class="d-none d-lg-block">NiceAdmin</span>
            </a>
                    #}
                </div><!-- End Logo -->

                <div class="card mb-3">

                    <div class="card-body">

                        <div class="pt-4 pb-2">
                            <h5 class="card-title text-center pb-0 fs-4">Reset your password</h5>
                            <p class="text-center small">Enter your username &amp; password to login</p>
                        </div>

                        <div class="row g-3 needs-validation" novalidate="">
                            {{ form_start(requestForm,{attr:{novalidate:'novalidate'}}) }}

                            <div class="col-12">

                                <div class="input-group has-validation">
                                    <span class="input-group-text" id="inputGroupPrepend" style="height:auto">@</span>
                                    {{ form_row(requestForm.email,{ 'attr':{'class':'form-control'} }) }}
                                    {{ form_errors(requestForm.email,{ 'attr':{'class':'danger-text'} }) }}
                                    <div class="invalid-feedback">Please enter your email.</div>
                                </div>
                            </div>


                            <div class="col-12" style="padding-top: 20px">
                                <button class="btn btn-primary w-100">Send password reset email</button>
                            </div>

                            {{ form_end(requestForm) }}
                        </div>

                    </div>
                </div>



            </div>
        </div>
    </div>
{% endblock %}
