{% extends 'base.html.twig' %}
{% block sidebar %}
{% endblock %}
{% block header %}
{% endblock %}
{% block title %}Reset your password{% endblock %}

{% block body %}
    {#
    <h1>Reset your password</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Reset password</button>
    {{ form_end(resetForm) }}
    <div>
        <h1 style="visibility: hidden">ooooooooooooooooooooooooooooooooob<br></h1>
        <h1 style="visibility: hidden">ooooooooooooooooooooooooooooooooob<br></h1>

        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                <div class="d-flex justify-content-center py-4">
                    {#   <a href="index.html" class="logo d-flex align-items-center w-auto">
                <img src="{{ asset('assets/img/logo.png') }}" alt="">
                <span class="d-none d-lg-block">NiceAdmin</span>
            </a>

                </div><!-- End Logo -->
    #}
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="d-flex justify-content-center py-4">
                {#   <a href="index.html" class="logo d-flex align-items-center w-auto">
                <img src="{{ asset('assets/img/logo.png') }}" alt="">
                <span class="d-none d-lg-block">NiceAdmin</span>
            </a>
                #}
            </div><!-- End Logo -->
    <div class="card mb-3">

                    <div class="card-body">

                        <div class="pt-4 pb-2">
                            <h5 class="card-title text-center pb-0 fs-4">Reset your password</h5>
                            <p class="text-center small">Enter your new password </p>
                        </div>

                        <div class="row g-3 needs-validation" novalidate="">
                            {{ form_start(resetForm,{attr:{novalidate:'novalidate'}}) }}



                            <div class="col-12">

                                {{ form_widget(resetForm.plainPassword,{ 'attr':{'class':'form-control'} }) }}
                                {{ form_errors(resetForm.plainPassword,{ 'attr':{'class':'danger-text'} }) }}
                                <div class="invalid-feedback">Please enter your new password!</div>
                            </div>




                            <div class="col-12" style="padding-top: 15px">
                                <button class="btn btn-primary w-100">Reset password</button>
                            </div>

                            {{ form_end(resetForm) }}
                        </div>

                    </div>
                </div>



            </div>
        </div>
    </div>

{% endblock %}
