{% extends 'base.html.twig' %}


{% block body %}



<main id="main" class="main" >




    <h1 style="color: #0a53be;">Produits</h1>

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">

                    <div class="card-body">


                        <!-- Table with stripped rows -->

                        <div class="dataTable-top">


                        </div>

                        <div class="dataTable-container">

                            {% if quantite0 %}

                                <li class="nav-item dropdown">

                                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                                        <i class="bi bi-bell"></i>
                                        <span class="badge bg-primary badge-number">{{ nb }}</span>
                                    </a><!-- End Notification Icon -->

                                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                                        <li class="dropdown-header">
                                            You have {{ nb }} new notifications
                                            <a href="#"></a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>

                                        {% for quantite in quantite0 %}


                                            <div>
                                                <i class="bi bi-x-circle text-danger"></i> <h6>{{ quantite.nomproduit }}</h6>
                                                <p>Ce produit est epuisé !</p>
                                                <p></p>
                                            </div>
                                        {% endfor %}

                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>

                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>



                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>


                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li class="dropdown-footer">

                                        </li>

                                    </ul><!-- End Notification Dropdown Items -->

                                </li><!-- End Notification Nav -->
                            {% endif %}
                            <div class="pagetitle">


                                <!-- Dark Table -->
                                <table class="table datatable dataTable-table" >
                                    <thead>
                                    <tr>
                                        <th scope="col" data-sortable="" style="width: 15%;">
                                            <a > <h4 style="color: #0a53be;font-weight: bolder">Numeroproduit</h4></a></th>
                                        <th scope="col" data-sortable="" style="width: 15%;">
                                            <a > <h4 style="color: #0a53be;font-weight: bolder">Nomproduit</h4></a></th>
                                        <th scope="col" data-sortable="" style="width: 15%;">
                                            <a > <h4 style="color: #0a53be;font-weight: bolder">Quantite</h4></a> </th>
                                        <th scope="col" data-sortable="" style="width: 15%;">
                                            <a > <h4 style="color: #0a53be;font-weight: bolder">Prixunitaire</h4></a></th>
                                        <th scope="col" data-sortable="" style="width: 15%;">
                                            <a > <h4 style="color: #0a53be;font-weight: bolder">Nomcategorie</h4></a></th>
                                        <th scope="col" data-sortable="" style="width: 15%;">
                                            <a > <h4 style="color: #0a53be;font-weight: bolder">Actions</h4></a></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for produit in produits %}
                                        <tr>
                                            <td>{{ produit.numeroproduit }}</td>
                                            <td>{{ produit.nomproduit }}</td>
                                            {% if produit.quantite >= 0 %}
                                                <td>{{ produit.quantite }}</td>
                                            {% endif %}
                                            {% if produit.quantite <0 %}
                                                <td>0</td>
                                            {% endif %}
                                            <td>{{ produit.prixunitaire }}</td>
                                            <td>{{ produit.nomcategorie }}</td>
                                            <td class="d-inline-flex">

                                                 {{ include('produits/_delete_form.html.twig') }}

                                                <a class="btn btn-primary" style="margin-left: 10px;" href="{{ path('app_produits_edit', {'numeroproduit': produit.numeroproduit}) }}">Modifier</a>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="6">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                                <button style="background-color: initial;font-weight: bolder;color: #0a58ca" class="btn btn-primary"> <a href="{{ path('app_produits_new') }}">Ajouter produit</a> </button>
                            </div><!-- End Page Title -->


                        </div>

                        <!-- End Table with stripped rows -->
                        <br>



                    </div>
                </div>

            </div>
        </div>
    </section>










    </div>
</main><!-- End #main -->

{% endblock %}