{% extends 'base.html.twig' %}

{% block title %}Commentaires index{% endblock %}

{% block body %}
    <h1>Commentaires index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idcommentaire</th>
                <th>Contenucommentaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commentaire in commentaires %}
            <tr>
                <td>{{ commentaire.idcommentaire }}</td>
                <td>{{ commentaire.contenucommentaire }}</td>
                <td>
                    <a href="{{ path('app_commentaires_show', {'idcommentaire': commentaire.idcommentaire}) }}">show</a>
                    <a href="{{ path('app_commentaires_edit', {'idcommentaire': commentaire.idcommentaire}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_commentaires_new') }}">Create new</a>
{% endblock %}
