{% extends 'base.html.twig' %}



{% block body %}





    <main id="main" class="main">




        <h1 style="color: #0a53be">Liste des avis</h1>

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">

                <div class="card-body">


                    <!-- Table with stripped rows -->

                        <div class="dataTable-top">


                        </div>
                        <div class="dataTable-container">
                            <table class="table datatable dataTable-table">

                                <thead>
                                <tr>

                                    <th scope="col" data-sortable="" style="width: 15%;">
                                        <a href="#" class="dataTable-sorter" > <h4 style="color: #0a53be;font-weight: bolder">Utilisateur</h4></a>
                                    </th>
                                    <th scope="col" data-sortable="" style="width: 15%;" class="desc">
                                        <a href="#" class="dataTable-sorter"><h4 style="color: #0a53be;font-weight: bolder">Categorie</h4></a>
                                    </th>
                                    <th scope="col" data-sortable="" >
                                        <a href="#" class="dataTable-sorter"><h4 style="color: #0a53be;font-weight: bolder">Avis</h4></a>
                                    </th>
                                    <th scope="col" data-sortable="" style="width: 15%;">
                                        <a href="#" class="dataTable-sorter" > <h4 style="color: #0a53be;font-weight: bolder">Réponse</h4></a>
                                    </th>
                                    <th scope="col" data-sortable="" style="width: 15%;">
                                        <a href="#" class="dataTable-sorter" > <h4 style="color: #0a53be;font-weight: bolder">Date d'ajout</h4></a>
                                    </th>



                                </tr>
                                </thead>
                                <tbody>
                                {% for avi in avis %}
                                    <tr>
                                        {#<td style="font-weight: bolder">{{ avi.numeroutilisateur }}</td>
                                        <td>{{ avi.idavis }}</td>#}
                                        <td>{{ avi.numeroutilisateur.nomclient}} </td>
                                        <td>{{ avi.idcategorie.nomcategorie }}</td>
                                        <td>{{ avi.contenuavis }}</td>
                                         {% if avi.idrep != NULL %}               <td>{{ avi.idrep.etat }}</td>

                                         {% else %} <td>Non Traité</td>
                                           {% endif %}
                                        <td>{{ avi.dateajout ? avi.dateajout|date('Y-m-d') : '' }}</td>
                                        {#  <td> <button style="background-color: initial;font-weight: bolder" class="btn btn-primary"> <a   href="{{ path('app_avis_edit', {'idavis': avi.idavis}) }}">Modifier</a> </button></td>
                                        #}


                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="3">no records found</td>
                                    </tr>
                                {% endfor %}

                               </tbody>
                            </table>
                        </div>

                    <!-- End Table with stripped rows -->
                    <div class="search-bar" >
                        <form class="search-form d-flex align-items-center" action="{{ path('app_avis_index_1') }}" method="post">
                            <input type="text" name="query" placeholder="Recherche par categorie" title="Enter search keyword">
                            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
                        </form >
                    </div>
<br>
            </div>
            </div>

        </div>
    </div>
</section>


        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Chart avis</h5>

                    <!-- Bar Chart -->
                    <canvas id="barChart" style="max-height: 400px; display: block; box-sizing: border-box; height: 230px; width: 462.222px;" width="416" height="207"></canvas>
                    <script>
                        document.addEventListener("DOMContentLoaded", () => {
                            new Chart(document.querySelector('#barChart'), {
                                type: 'bar',
                                data: {
                                    labels: ['Reclamation', 'Test', 'Propostion', 'Requete'],
                                    datasets: [{
                                        label: 'Bar Chart',
                                        data: [65, 59, 80, 81, 56, 55, 40],
                                        backgroundColor: [
                                            'rgba(255, 99, 132, 0.2)',
                                            'rgba(255, 159, 64, 0.2)',
                                            'rgba(255, 205, 86, 0.2)',

                                            'rgba(153, 102, 255, 0.2)'
                                        ],
                                        borderColor: [
                                            'rgb(255, 99, 132)',
                                            'rgb(255, 159, 64)',
                                            'rgb(255, 205, 86)',
                                            'rgb(75, 192, 192)',

                                            'rgb(201, 203, 207)'
                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    scales: {
                                        y: {
                                            beginAtZero: true
                                        }
                                    }
                                }
                            });
                        });
                    </script>
                    <!-- End Bar CHart -->

                </div>
            </div>
        </div>
        <div class="card col-sm-6">
            <div class="card-body">
                <h5 class="card-title">Radar Chart</h5>

                <!-- Radar Chart -->
                <canvas id="radarChart" style="max-height: 400px; display: block; box-sizing: border-box; height: 398.889px; width: 462.222px;" width="416" height="359"></canvas>
                <script>
                    document.addEventListener("DOMContentLoaded", () => {
                        new Chart(document.querySelector('#radarChart'), {
                            type: 'radar',
                            data: {
                                labels: [
                                    'Eating',
                                    'Drinking',
                                    'Sleeping',
                                    'Designing',
                                    'Coding',
                                    'Cycling',
                                    'Running'
                                ],
                                datasets: [{
                                    label: 'First Dataset',
                                    data: [65, 59, 90, 81, 56, 55, 40],
                                    fill: true,
                                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                    borderColor: 'rgb(255, 99, 132)',
                                    pointBackgroundColor: 'rgb(255, 99, 132)',
                                    pointBorderColor: '#fff',
                                    pointHoverBackgroundColor: '#fff',
                                    pointHoverBorderColor: 'rgb(255, 99, 132)'
                                }, {
                                    label: 'Second Dataset',
                                    data: [28, 48, 40, 19, 96, 27, 100],
                                    fill: true,
                                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                                    borderColor: 'rgb(54, 162, 235)',
                                    pointBackgroundColor: 'rgb(54, 162, 235)',
                                    pointBorderColor: '#fff',
                                    pointHoverBackgroundColor: '#fff',
                                    pointHoverBorderColor: 'rgb(54, 162, 235)'
                                }]
                            },
                            options: {
                                elements: {
                                    line: {
                                        borderWidth: 3
                                    }
                                }
                            }
                        });
                    });
                </script>
                <!-- End Radar CHart -->

            </div>
        </div>
    </main><!-- End #main -->
{% endblock %}
