{% extends 'base.html.twig' %}



{% block body %}





    <main id="main" class="main">




        <h1 style="color: #0a53be;">Liste des avis</h1>

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">

                <div class="card-body">


                    <!-- Table with stripped rows -->

                        <div class="dataTable-top">


                        </div>
                        <div class="dataTable-container">
                            <table class="table datatable dataTable-table">

                                <thead>
                                <tr>

                                    <th scope="col" data-sortable="" style="width: 15%;">
                                        <a > <h4 style="color: #0a53be;font-weight: bolder">Utilisateur</h4></a>
                                    </th>
                                    <th scope="col" data-sortable="" style="width: 15%;" class="desc">
                                        <a><h4 style="color: #0a53be;font-weight: bolder">Categorie</h4></a>
                                    </th>
                                    <th scope="col" data-sortable="" >
                                        <a><h4 style="color: #0a53be;font-weight: bolder">Avis</h4></a>
                                    </th>
                                    <th scope="col" data-sortable="" style="width: 15%;">
                                        <a> <h4 style="color: #0a53be;font-weight: bolder">Etat</h4></a>
                                    </th>
                                    <th scope="col" data-sortable="" style="width: 15%;">
                                        <a  class="dataTable-sorter" > <h4 style="color: #0a53be;font-weight: bolder">Date d'ajout</h4></a>
                                    </th>



                                </tr>
                                </thead>
                                <tbody>
                                {%   set x= 0   %}
                                {%   set y= 0   %}
                                {%   set z= 0   %}
                                {% for avi in avis %}
                                    <tr>
                                        {#<td style="font-weight: bolder">{{ avi.numeroutilisateur }}</td>
                                        <td>{{ avi.idavis }}</td>#}
                                        <td>{{ avi.numeroutilisateur.nomclient}} </td>
                                        <td>{{ avi.idcategorie.nomcategorie }}</td>
                                        <td>{{ avi.contenuavis }}</td>
                                         {% if avi.idrep != NULL %}               <td>{{ avi.idrep.etat }}</td>
                                        {% if avi.idrep.etat == 'Traité' %}
                                            {%   set x= x+1   %}

                                        {% elseif avi.idrep.etat == 'en cours de traitement' %}
                                            {%   set y= y+1   %}
                                        {% endif %}
                                         {% else %} <td>Non Traité</td>   {%   set z= z+1   %}
                                           {% endif %}
                                        <td>{{ avi.dateajout ? avi.dateajout|date('Y-m-d') : '' }}</td>
                                        {#  <td> <button style="background-color: initial;font-weight: bolder" class="btn btn-primary"> <a   href="{{ path('app_avis_edit', {'idavis': avi.idavis}) }}">Modifier</a> </button></td>
                                        #}
                                        </tr>
                                {% else %}

                                    <tr>
                                        <td> Pas d'avis disponible. </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endfor %}

                               </tbody>
                            </table>
                        </div>

                    <!-- End Table with stripped rows -->
                    <br>
                    <div class="search-bar" >
                        <form class="search-form d-flex align-items-center" action="{{ path('app_avis_index_1') }}" method="post">
                            <input style="background-color: initial;font-weight: bolder;color: #0a58ca" class="btn btn-primary" type="text" name="query" placeholder="Recherche par avis" title="Enter search keyword">
                            <button style="background-color: initial;font-weight: bolder;color: #0a58ca" class="btn btn-primary" type="submit" title="Search"><i class="bi bi-search"></i></button>
                        </form >
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>


        <div class="row" style="margin-right: 35px;">


            <h1 style="color: #0a53be;text-align: center">Traitement des avis</h1>
            <div class="card col-sm-5" style="margin-right: 40px;margin-left: 60px">
                <div class="card-body">

                    <br>
                    <!-- Radar Chart -->
                    <canvas id="radarChart" style="max-height: 400px; display: block; box-sizing: border-box; height: 398.889px; width: 462.222px;" width="416" height="359"></canvas>
                    <script>
                        document.addEventListener("DOMContentLoaded", () => {
                            new Chart(document.querySelector('#radarChart'), {
                                type: 'radar',
                                data: {
                                    labels: [
                                        '.',
                                        'En cours',
                                        '.',
                                        'Traité',
                                        '.',
                                        'Non Traité'


                                    ],
                                    datasets: [{
                                        label: 'Etat',
                                        data: [0,{{x}},0, {{y}},0, {{z}}],
                                        fill: true,
                                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                        borderColor: 'rgb(255, 99, 132)',
                                        pointBackgroundColor: 'rgb(255, 99, 132)',
                                        pointBorderColor: '#fff',
                                        pointHoverBackgroundColor: '#fff',
                                        pointHoverBorderColor: 'rgb(255, 99, 132)'
                                    }]
                                },
                                options: {
                                    elements: {
                                        line: {
                                            borderWidth: 3
                                        }
                                    }
                                }
                            });
                        });
                    </script>
                    <!-- End Radar CHart -->

                </div>
            </div>
            <div class="card col-sm-5">

            <div class="card-body">

                <br>
                <!-- Polar Area Chart -->
                <canvas id="polarAreaChart" style="max-height: 400px; display: block; box-sizing: border-box; height: 398.889px; width: 462.222px;" width="416" height="359"></canvas>
                <script>
                    document.addEventListener("DOMContentLoaded", () => {
                        new Chart(document.querySelector('#polarAreaChart'), {
                            type: 'polarArea',
                            data: {
                                labels: [
                                    'En cours',
                                    'Traité',
                                    'Non Traité'

                                ],
                                datasets: [{
                                    label: 'My First Dataset',
                                    data: [{{y}},{{x}},{{z}}],
                                    backgroundColor: [
                                        'rgb(255, 205, 86)',
                                        'rgb(75, 192, 192)',
                                        'rgb(255, 99, 132)'


                                    ]
                                }]
                            }
                        });
                    });
                </script>
                <!-- End Polar Area Chart -->

            </div>
        </div>
    </div>
    </main><!-- End #main -->
{% endblock %}
