
{% extends 'base-front.html.twig' %}

{#

rgba(255,255,255, 0.9)
rgba(255,255,255, 0.9)
gray

#}

{% block body %}


<body>

    <!-- banner -->
    <div class="services-breadcrumb" >
        <div class="agile_inner_breadcrumb">
            <div class="container">
                <ul class="w3_short">
                    <li>
                        <a href="" style="color: black">Home</a>
                        <i>|</i>
                    </li>
                    <li><a href="{{ path('app_avis_indexFront') }}" style="color: red" >Les avis</a></li>


                </ul>
            </div>
        </div>
    </div>
    <!-- //banner -->

    <!-- top avis -->
    <div class="testimonials py-sm-5 py-4" style="text-align: left;">

        <div class="ads-grid py-sm-5 py-4" style="margin-top: -100px">
            <div class="container py-xl-4 py-lg-2">

                <div class="row">

                    <!-- avis left -->
                    <div class="agileinfo-ads-display col-lg-9">
                        <div class="px-sm-4 px-3 py-sm-3  py-3 mt-2" style="border-radius: 15px 15px">

                            <h3 class="product-sec1 tittle-w3l text-center  mb-sm-4 mb-3" style="text-align: center;border-radius:30px 30px;background-color: rgba(255,255,255, 0.9);color: black">

                                <span style="color: rgb(65,105,225)">N</span>os
                                <span style="color: rgb(65,105,225) ">A</span>vis</h3>



                            {% for avi in avis %}

                                <div class="product-sec1 px-sm-4 px-3 py-sm-3  py-3 mt-2"  style="border-radius:30px 30px;background-color: rgba(255,255,255, 0.9);margin-bottom: 20px ">

                                    <h6 class="text-lg-right" style="color: black;font-weight: bolder">  {{ avi.dateajout |date('d-m-Y') }} </h6>



                                    <h4 style="color: black;font-weight: bolder;text-shadow: 1px 1px 2px rgb(65,105,225)"> {{ avi.idcategorie.nomcategorie }} du client :<br>{{ avi.numeroutilisateur.nomclient }} : </h4>


                                    <br>




                                    <h5  style="color: black    ">  {{ avi.contenuavis }}  </h5>
                                    <br>
                                    {# {% if app .session.get ('username') is not null %} #}
                                    {% if avi.numeroutilisateur.numeroutilisateurs == app.session.get('id_user') %}

                                        <div class="row"> <h6 style="margin-left: auto;margin-right: 10px;" class="text-lg-right"> <a href="{{ path('app_avis_edit2', {'idavis': avi.idavis}) }}">

                                                    <button class="product-sec1 btn btn-primary" style="color:white;background-color: rgb(65,105,225);border-radius:30px 30px;border: 1px solid white">Modifier </button>   </a> </h6>
                                            {% include 'avis/_delete_form.html.twig' %}  </div>

                                    {% endif %}

                                    {% if avi.idrep != NULL %}  <div class="px-sm-4 px-3 py-sm-3  py-3 mt-2" style="border: 1px solid white;border-radius:30px 30px;
                                    box-shadow: 0px 0px 300px 0px rgb(65,105,225);" >
                                        <h6 class="text-lg-right" style="color:black;font-weight: bolder">  {{ avi.idrep.dateajout |date('d-m-Y') }} </h6>
                                        <h5 style="color: black;font-weight: bolder;text-shadow: 1px 1px 2px rgb(65,105,225)"> Réponse de l'administration :</h5>
                                        <h6 style="color: black">  {{ avi.idrep.reponse }} </h6>
                                        <br>
                                        <h6 style="color: black;text-align: right">  {{ avi.idrep.etat }} </h6>


                                    </div> {% endif %}

                                </div>



                            {% endfor %}

                            <h3 class="product-sec1 tittle-w3l text-center  mb-sm-4 mb-3" style="text-align: center;border-radius:30px 30px;background-color: rgba(255,255,255, 0.9);color: white">
                            {{ knp_pagination_render(avis) }} </h3>



                        </div>
                    </div>
                    <!-- //avis left -->
                    <!-- avis right -->
                    <div class="col-lg-3 mt-lg-0 mt-4 p-lg-0" style="border-radius:30px 30px;">
                        <div class="product-sec1 side-bar p-sm-4 p-3" style="border-radius:30px 30px;background-color: rgba(255,255,255, 0.9);height: 100%;">

                            <!-- btn ajout -->
                            <div style="border-bottom: 1px solid rgb(65,105,225);margin-top: -20px;margin-bottom: 10px">
                                <br>
                                <ul>
                                    {% if app .session.get ('username') is not null %}
                                    <li style="border-radius:30px 30px;border: 1px solid rgb(65,105,225);padding-bottom: 10px;background-color: rgb(65,105,225)" class="btn btn-primary">
                                        <a href="{{ path('app_avis_new',{'id':app.session.get('id_user')}) }}" >
                                            <i> <h3 style="color: white;font-weight: bolder">Ajouter votre avis</h3></i> </a>
                                    </li>
{% endif %}
                                </ul> <br>

                            </div>
                            <!-- //btn ajout -->

                            <!-- btn recherche -->
                            <div class="search-hotel py-2"  >


                                <div class="customer-rev left-side py-2" >
                                    <form class="search-form d-flex align-items-center" action="{{ path('app_avis_indexFront_1') }}" method="post">
                                                   <ul>
                                                       <li>
                                                <h3 style="font-weight: bolder;border-bottom: 1px solid rgb(65,105,225);padding-bottom: 20px;">
                                                    <select name="query" style="background-color: rgb(65,105,225);border-radius:30px 30px;border: 1px solid white;font-weight: bolder;font-size: 28px;text-align: left;color: white;padding-bottom: 10px" class="btn btn-primary">
                                                        <option HIDDEN SELECTED value="">->Recherche<-</option>
{#                                                        <optgroup label="Categories">#}

{#                                                            <option value="Requette">Requette</option>#}
{#                                                            <option value="Réclamation">Réclamation</option>#}
{#                                                            <option value="Proposition">Proposition</option>#}

{#                                                            <option value="Avis">Avis simple</option>#}
{#                                                            <option value="TestCatégorie">Autres</option>#}

{#                                                        </optgroup>#}
{#                                                        <optgroup label="Avis">#}
{#                                                            <option value="">Repondu</option>#}
{#                                                            <option value="Traité">Traité</option>#}
{#                                                            <option value="en cours de traitement">En cours</option>#}
{#                                                        </optgroup>#}


                                                    </select>
                                                    <button type="submit" style="background-color: rgb(65,105,225);color: rgb(65,105,225);border-color: white;font-weight: bolder;font-size: 10px;border-radius: 15px 15px" class="btn btn-primary">
                                                        ---/-\-\--/\--/-/-\---/--\---\-/---/-\\-/---/--\---\-/--\---
                                                    </button>
                                                    </h3>

                                                       </li>
                                        </ul>
                                    </form >
                                </div>
                            </div>
                            <!-- //btn recherche -->

                            <!-- Avis scroll -->
                            <div class="f-grid py-2" style="border: 1px solid rgb(65,105,225);border-radius: 15px">

                                <ul>

                                    <h3 class="tittle-w3l text-center  mb-sm-4 mb-3" style="text-align: center;color: black;margin-top: 10px;margin-bottom: 10px;font-weight: bolder">
                                         <span style="color: rgb(65,105,225)">
L</span>es<span style="color: rgb(65,105,225)"> A</span>vis  </h3>

                                </ul>

                                <div class="box-scroll" style="background-color: rgb(65,105,225);border-top: rgb(65,105,225);height: 100%;border-bottom: 1px solid rgb(65,105,225);border-top: 1px solid rgb(65,105,225);height: 500px;">

                                    <div class="scroll">

                                        {% for i in range(1, 50) %}
                                            {% for avi in avis %}

                                                <div class="left-side border-bottom py-4">
                                                    <div>
                                                        <ul style="color:white;">
                                                            =>  {{ avi.contenuavis }}
                                                        </ul>
                                                    </div>

                                                </div>

                                            {% endfor %}
                                        {% endfor %}


                                        </table>


                                    </div>
                                </div>
                                <br>


                            </div>
                            <!-- //Avis scroll -->

                        </div>

                    </div>
                    <!-- //avis right -->

                </div>
            </div>
        </div>

    </div>
    <!-- //top avis -->

    <!-- publicité -->
    <div class="join-retro py-sm-5 py-4">
        <div class="container py-xl-4 py-lg-2">
            <div class="row">
                <div class="col-lg-6">
                    <div class="join-agile text-left p-4">
                        <div class="row">
                            <div class="col-sm-7 offer-name">
                                <h6>Game room</h6>
                                <h4 class="mt-2 mb-3">PinBall machine</h4>
                                <p>A partir de 2000d</p>
                            </div>
                            <div class="col-sm-5 offerimg-w3l">
                                <img src="
{{asset('front-office/images/pinball.jpg')}}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-lg-0 mt-5">
                    <div class="join-agile text-left p-4">
                        <div class="row ">
                            <div class="col-sm-7 offer-name">
                                <h6>SAGA games</h6>
                                <h4 class="mt-2 mb-3">Street fighter 2</h4>
                                <p>Presque gratuit juste 150d</p>
                            </div>
                            <div class="col-sm-5 offerimg-w3l">
                                <img src="
{{asset('front-office/images/retropup2.jpg')}}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- publicité -->

</body>

{% endblock %}

