{% extends 'base-front.html.twig' %}



{% block body %}



    <!-- top Products -->






<!-- //top products -->
    <div class="services-breadcrumb" >
        <div class="agile_inner_breadcrumb">
            <div class="container">
                <ul class="w3_short">
                    <li>
                        <a href="" style="color: black">Home</a>
                        <i>|</i>
                    </li>
                    <li><a href="{{ path('app_avis_indexFront') }}" style="color: black" >Les avis</a> <i>|</i></li>

                    <li style="color: #d43934"><a href="" >Ajout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="join-w3l1 py-sm-5 py-4" >
        <div class="container py-xl-4 py-lg-2" style="border: 1px solid rgba(0, 0, 255, 0.2);border-radius:30px 30px;background-color: whitesmoke;text-align: left;">
            <!-- tittle heading -->
            <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3" style="color:black;margin-top: 20px">
                <span>A</span>jouter
                <span>V</span>otre
                <span>A</span>vis</h3>

            <!-- form -->
            <form action="#" method="post">
                {{ form_start(form ,{ attr: {novalidate:'novalidate' } }) }}
                <div class="contact-grids1 w3agile-6" >
                    <div class="row">
                        <div class="col-md-2 col-sm-2 contact-form1 form-group">
                            <label class="col-form-label" style="color: black;font-weight: bolder;text-align: left"><h3>
                                    Utilisateur</h3></label>
                            {{ form_widget(form.numeroutilisateur, { 'attr': {'class':'form-select' } }) }}
                            {{ form_errors(form.numeroutilisateur, { 'attr': {'class':'text-danger' } }) }}
                        </div>
                        <div class="col-md-10 col-sm-5 contact-form1 form-group">
                            <label class="col-form-label" style="color: black;font-weight: bolder;text-align: left"><h3>
                                    Categorie </h3></label>
                            {{ form_widget(form.idcategorie, { 'attr': {'class':'form-select' } }) }}
                            {{ form_errors(form.idcategorie, { 'attr': {'class':'text-danger' } }) }}
                        </div>
                    </div>
                    <div class="animated wow slideInUp form-group">
                        <label class="col-form-label" style="color: black;font-weight: bolder;text-align: left"><h3>
                                Conetenu </h3></label>
                        {{ form_widget(form.contenuavis, { 'attr': {'class':'form-control' } }) }}
                        {{ form_errors(form.contenuavis, { 'attr': {'class':'text-danger' } }) }}
                    </div>
                    <div class="contact-form" style="margin-bottom: 20px">
                        <input type="submit" value="Ajouter">
                    </div>
                </div>
                {{ form_widget(form.dateajout, { 'attr': {'class':'form-control' } }) }}
                {{ form_end(form) }}<!-- End General Form Elements -->
            </form>
            <!-- //form -->
        </div>
    </div>

<!-- middle section -->
<div class="join-w3l1 py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
        <div class="row">
            <div class="col-lg-6">
                <div class="join-agile text-left p-4">
                    <div class="row">
                        <div class="col-sm-7 offer-name">
                            <h6>Smooth, Rich & Loud Audio</h6>
                            <h4 class="mt-2 mb-3">Branded Headphones</h4>
                            <p>Sale up to 25% off all in store</p>
                        </div>
                        <div class="col-sm-5 offerimg-w3l">
                            <img src="
{{asset('front-office/images/off1.png')}}" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-lg-0 mt-5">
                <div class="join-agile text-left p-4">
                    <div class="row ">
                        <div class="col-sm-7 offer-name">
                            <h6>A Bigger Phone</h6>
                            <h4 class="mt-2 mb-3">Smart Phones 5</h4>
                            <p>Free shipping order over $100</p>
                        </div>
                        <div class="col-sm-5 offerimg-w3l">
                            <img src="
{{asset('front-office/images/off2.png')}}" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- middle section -->

{% endblock %}