


{% extends 'base.html.twig' %}



{% block body %}
    <main id="main" class="main">

        <h1 style="color: #0a53be" >Liste des categories</h1>
        <section class="section">

            <div class="row">
                <div class="col-lg-12">

                    <div class="card">

                        <div class="card-body">
                            <br>
                         <table class="table datatable dataTable-table" >

                             <thead>
                             <tr>

                                 <th scope="col" data-sortable="" >
                                     <a href="#" class=""><h4 style="color: #0a53be;font-weight: bolder">Nom de la categorie </h4></a>
                                 </th>

                                 <th style="width: 5%;border-left: solid 1px lightgray;border-right: solid 1px lightgray">
                                     <a href="#"><h4 style="color: #0a53be;font-weight: bolder">Modifier</h4></a>
                                 </th>
                                 <th style="width: 5%;border-right: solid 1px lightgray">
                                     <a href="#"><h4 style="color: #0a53be;font-weight: bolder;">Supprimer</h4></a>
                                 </th>

                             </tr>
                             </thead>
                                <tbody>
                                        {% for categoriea in categorieas %}
                                     <tr>
                                             {#   <td>{{ categoriea.idcategorie }}</td>#}
                                         <td>{{ categoriea.nomcategorie }}</td>





                                         <td style="border-left: solid 1px lightgray;border-right: solid 1px lightgray;text-align: center">  <button style="color:#0c5460;border-color: white;background-color: white" class="btn btn-primary">
                                             <a class="btn btn-primary" style="background-color: #1e7e34;border-color: white;" href="{{ path('app_categoriea_edit', {'idcategorie': categoriea.idcategorie}) }}">
                                                 <i class="bx bx-edit"> </i>
                                             </a></button></td>
                                        <td style="border-right: solid 1px lightgray;text-align: center">  {{ include('categoriea/_delete_form.html.twig') }}</td>
                                     </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="3">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            <br>
                            <button style="background-color: initial;font-weight: bolder;color: #0a58ca" class="btn btn-primary"> <a href="{{ path('app_categoriea_new') }}">Ajouter une categorie</a> </button>
                        </div></div>
                        </div></div>
        </section>

    </main><!-- End #main -->

{% endblock %}
