{# {% extends 'base.html.twig' %} #}

{% block title %}Paniers{% endblock %}

{% block body %}
    <h1>Paniers</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Numeropanier</th>
                <td>{{ panier.numeropanier }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ panier.quantite }}</td>
            </tr>
            <tr>
                <th>Dateajout</th>
                <td>{{ panier.dateajout ? panier.dateajout|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
            <th>num Produit</th>
            <td>{{ panier.numeroproduit.numeroproduit }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_paniers_index') }}">back to list</a>

    <a href="{{ path('app_paniers_edit', {'numeropanier': panier.numeropanier}) }}">edit</a>

    {{ include('paniers/_delete_form.html.twig') }}
{% endblock %}
