{% extends 'base.html.twig' %}

{% block title %}Reponses{% endblock %}

{% block body %}
    <h1>Reponses</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idreponse</th>
                <td>{{ reponse.idreponse }}</td>
            </tr>
            <tr>
                <th>Contenureponse</th>
                <td>{{ reponse.contenureponse }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reponses_index') }}">back to list</a>

    <a href="{{ path('app_reponses_edit', {'idreponse': reponse.idreponse}) }}">edit</a>

    {{ include('reponses/_delete_form.html.twig') }}
{% endblock %}
