{% extends 'base.html.twig' %}
{% block sidebar %}
{% endblock %}
{% block title %}New Commandes{% endblock %}

{% block body %}
    <h1>Create new Commandes</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('app_commandes_index') }}">back to list</a>
{% endblock %}
